pipeline/AppendVariable04.json
{
	"name": "AppendVariable04",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Marks",
					"value": {
						"value": "@int(90)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Output",
					"value": {
						"value": "@variables('Marks')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Marks": {
				"type": "Array",
				"defaultValue": [
					89,
					50,
					78,
					40
				]
			},
			"Output": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}